.products-slider {
  position: relative;
  padding: 1.25rem 3.1875rem;
  background-color: $bg2;
  box-shadow: 0rem 0.0625rem 0.125rem 0rem #1018280f,
    0rem 0.0625rem 0.1875rem 0rem #1018281a;
  border-radius: 1.25rem;
  margin-bottom: 1.25rem;
  @include xs {
    padding: 1.25rem;
  }
  .slider-content {
    position: relative;
  }
  .swiper-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1rem;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    transition: all 0.3s ease-in-out;
    .dark & {
      color: #fff;
    }

    @include ltr {
      i {
        transform: rotate(180deg);
      }
    }
    &.swiper-btn-next {
      inset-inline-end: -1.9375rem;
    }
    &.swiper-btn-prev {
      inset-inline-start: -1.9375rem;
    }
    &:hover {
      stroke: #ae5be9;
    }
    @include xs {
      display: none;
    }
  }
  .swiper-pagination {
    position: relative;
    inset: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    margin-top: 0.9375rem;
    height: 1rem;
    @include xxs {
      gap: 0.5rem;
      height: 0.625rem;
    }
    .swiper-pagination-bullet {
      width: 0.75rem;
      height: 0.75rem;
      background-color: transparent;
      border: 0.0625rem solid $primaryColor;
      opacity: 1;
      margin: 0;
      transition: all 0.3s ease-in-out;
      &-active {
        width: 1rem;
        height: 1rem;
        background-color: #ae5be9;
      }
      @include xxs {
        height: 0.5rem;
        width: 0.5rem;
        &-active {
          width: 0.625rem;
          height: 0.625rem;
        }
      }
    }
  }
}
// .offer_slider-item {
//   width: 31.25rem;
// }

.offer-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.9375rem;
  border: 0.0625rem solid #e2e6ee;
  border-radius: 0.9375rem;
  @include xxs {
    flex-direction: column;
    gap: 0.8125rem;
    align-items: start;
    padding: .75rem;
  }
  .dark & {
    border-color: #31343b;
    background-color: $bg1;
  }
  .item-img {
    background-color: rgba(217, 217, 217, 0.2);
    border-radius: 0.625rem;
    width: 7.5625rem;
    aspect-ratio: 121/110;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-shrink: 0;
    @include xxs {
      width: 100%;
      aspect-ratio: 121/70;
    }
  }
  .item-text {
    display: flex;
    flex-direction: column;
    gap: 1.0625rem;
    @include md {
      gap: 0.625rem;
    }
  }
  .item-discount {
    display: flex;
    align-items: center;
    gap: 0.5625rem;
    color: #d75c1e;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.2;
    img {
      width: 1.0625rem;
    }
  }
  .item-title {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5;
    color: $secondaryTitle;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 2.625rem;
    margin: 0;
    @include md {
      font-size: 0.75rem;
      height: 27px;
    }
  }
  .item-prices {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    font-size: 1rem;
    line-height: 1.5;
    del {
      font-weight: 300;
      color: #8e8e93;
    }
    strong {
      font-weight: 600;
      color: $primaryColor;
    }
    @include md {
      font-size: 0.875rem;
    }
  }
}
