.page-header {
  @media (max-width: 1920px) {
    font-size: 16px;
  }

  @media (max-width: 1440px) {
    font-size: 15px;
  }
  @media (max-width: 1200px) {
    font-size: 12px;
  }
  @media (max-width: 767px) {
    font-size: 16px;
  }
  @media (max-width: 576px) {
    font-size: 15px;
  }


  display: grid;
  grid-template-columns: 16.875em 1fr;
  gap: 1.25em;
  align-items: center;
  height: fit-content;
  min-height: 2.9375em;
  margin-bottom: 1.4375em;
  width: 100%;
  // transition: all 0.3s ease-in-out;
  &:has(.search-form) {
    @include xs {
      grid-template-columns: 1fr;
    }
  }
  @include xs{
    gap: 1em;
  }
  @include xxs {
    min-height: auto;
    grid-template-columns: 1fr;
  }
}

.user-name {
  font-size: 1.25em;
  color: $textColor;
  font-weight: 600;
  margin: 0;
  i {
    font-family: $secondaryFont;
    font-size: 1.5em;
    font-weight: 600;
    font-style: unset;
  }
  .dark & {
    color: #ccd2e0;
  }
  @include xxs{
    text-align: center;
  }
}

.page-tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.9375em;
  @include xxs {
    flex-direction: column;
  }
}
