.products-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.875rem 0.9375rem;
  @include xs {
    grid-template-columns: repeat(auto-fill, minmax(7.8125rem, 1fr));
  }
  @include xxs {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.product-item {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  .item-img {
    width: 100%;
    aspect-ratio: 170/227;
    box-shadow: 0rem 0.0625rem 0.125rem 0rem #1018280f,
      0rem 0.0625rem 0.1875rem 0rem #1018281a;
    border-radius: 1.25rem;
    overflow: hidden;
  }
  .item-title {
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.2;
    font-weight: 400;
    color: $secondaryTitle;
    margin: 0;
    @include xs {
      font-size: 0.75rem;
    }
  }
}
