.search-form {
  position: relative;
  width: 43%;
  max-width: 26.8125rem;
  @include xs {
    width: 39%;
  }
  @include xxs {
    width: 100%;
  }
  .form-control {
    background-color: $bg2;
  }
  .search-btn {
    position: absolute;
    top: 50%;
    inset-inline-end: .9375rem;
    transform: translateY(-50%);
    width: 1.5rem;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $textColor;
    fill: $textColor;
    stroke: $textColor;
    padding: 0;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: $primaryColor;
      fill: $primaryColor;
      stroke: $primaryColor;
    }
  }
}
