
body {
  font-family: Alexandria;
  font-weight: 400;
  color: $textColor;
  &::-webkit-scrollbar {
    background-color: #f1f1f1;
    width: 4px;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primaryColor;
    border-radius: 3px;
  }
}

.overflow {
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 30px;
  @include xs{
    padding: 0 15px;
  }
}