.dashboard-content {
  background-color: $bg1;
  padding-top: var(--header);
  transition: padding-top 0.3s ease-in-out;
}

.page_wrapper-content {
  padding: 1.875rem 1.875rem 1.875rem;
  display: flex;
  flex-direction: column;
  @include xs {
    padding: 1rem 1rem 2.5rem;
  }
}

.page-wrapper {
  display: grid;
  grid-template-columns: 16.875rem 1fr;
  padding: 0;
  gap: 1.25rem;
  flex: 1;
  @include sm {
    grid-template-columns: 1fr;
  }
}
.wrapper-item {
  max-width: 100%;
  overflow: hidden;
}
.page-content {
  background-color: $bg2;
  border: 0.0625rem solid var(--border);
  border-radius: 1rem;
  overflow: hidden;
  max-width: 100%;
  margin-top: 1.25rem;
  // box-shadow: 0rem .0625rem .125rem 0rem #1018280f, 0rem .0625rem .1875rem 0rem #1018281a;
  .dark & {
    border-color: #24272e;
    background-color: $bg1;
  }
}
