.mode-switcher {
  .switch {
    cursor: pointer;
  }

  .mode-switch {
    display: flex;
    align-items: center;
    gap: 1.875rem;
    background-color: #f6f8fa;
    padding: .3125rem;
    box-shadow: 0rem .0625rem .125rem 0rem $boxshadow;
    border-radius: 3.4375rem;
    width: fit-content;
    cursor: pointer;
    @include xs {
      gap: .625rem;
    }
    @include xxs {
      padding: .125rem;
      gap: .3125rem;
    }
    .fixed & {
      gap: .625rem;
      @include xxs {
        padding: .125rem;
        gap: .3125rem;
      }
    }
  }

  .icon {
    width: 2.8125rem;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0rem .0625rem .125rem 0rem $boxshadow;
    background-color: #fff;
    fill: #40444c;
    stroke: #40444c;
    padding: .625rem;
    transition: all 0.3s ease-in-out;
    &.sun {
      background-color: #010c42;
      fill: #fff;
      stroke: #fff;
    }
    @include xs {
      width: 2.1875rem;
    }
    @include xxs {
      width: 1.875rem;
      padding: .5rem;
    }
    .fixed & {
      width: 2.1875rem;
      @include xxs {
        width: 1.875rem;
        padding: .5rem;
      }
    }
  }

  input {
    display: none;

    &:checked {
      ~ .mode-switch {
        .icon {
          &.sun {
            background-color: #fff;
            fill: #40444c;
            stroke: #40444c;
          }

          &.moon {
            background-color: #010c42;
            fill: #fff;
            stroke: #fff;
          }
        }
      }
    }
  }
}
