.side-nav {
  position: sticky;
  height: fit-content;
  top: calc(var(--fixed-header) + 1.5625rem);
  @include sm {
    position: fixed;
    top: 0;
    height: 100vh;
    inset-inline-start: -275px;
    // inset-inline-start: 0;
    width: 270px;
    z-index: 99999;
    transition: all 0.3s ease-in-out;
    &.active {
      inset-inline-start: 0;
    }
  }
}

.nav_list-content {
  height: fit-content;
  max-height: calc(100vh - (var(--side-height) + 8.125rem));
  overflow-y: auto;
  box-shadow: 0rem 0.0625rem 0.125rem 0rem $boxshadow;
  background-color: $bg2;
  padding: 1.25rem;
  border-radius: 1.25rem;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  @include sm {
    height: 100%;
    max-height: unset;
    width: 100%;
    box-shadow: unset;
    border-radius: 0;
    padding: 60px 20px 80px;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  .nav-item {
    position: relative;
    width: 100%;
    padding: 0 1.25rem;
    &:after {
      position: absolute;
      inset-inline: 0;
      height: 2.8125rem;
      width: 100%;
      background: $primaryGradient;
      border-radius: 0.5rem;
      top: 50%;
      transform: translateY(-50%);
    }
    &:has(.active) {
      &:after {
        content: "";
      }
      &:first-of-type {
        margin-top: 0.5rem;
      }
    }
  }
  .nav-link {
    display: flex;
    align-items: center;
    justify-content: start;
    width: fit-content;
    gap: 0.625rem;
    font-size: 0.875rem;
    color: $secondaryNav;
    fill: $secondaryNav;
    stroke: $secondaryNav;
    position: relative;
    white-space: nowrap;
    z-index: 2;
    .icon {
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:focus {
      color: $secondaryNav;
    }
    &:hover {
      color: $primaryColor;
      fill: $primaryColor;
      stroke: $primaryColor;
    }
    &.active {
      color: #fff;
      fill: #fff;
      stroke: #fff;
    }
    &.logout {
      color: #ff3b30;
      fill: #ff3b30;
      stroke: #ff3b30;
    }
  }
}

.nav-overlay {
  position: fixed;
  inset: -1px;
  background-color: #000;
  opacity: 0.9;
  z-index: 99998;
  display: none;
  // display: block;
  .dark & {
    background-color: $bg1;
  }
}
