.side-nav {
  position: sticky;
  height: fit-content;
  top: calc(var(--fixed-header) + 1.5625rem);
  &.mobile-nav {
    display: none;
    position: relative;
    top: unset;
    width: 100%;
    height: auto;
    padding: 0.5rem 1rem 0;
  }
  @include sm {
    display: none;
    &.mobile-nav {
      display: block;
    }
  }
}

.nav_list-content {
  height: fit-content;
  max-height: calc(100vh - (var(--side-height) + 8.125rem));
  overflow-y: auto;
  box-shadow: 0rem 0.0625rem 0.125rem 0rem $boxshadow;
  background-color: $bg2;
  padding: 1.25rem;
  border-radius: 1.25rem;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  @include sm {
    padding: 0.625rem;
    width: 100%;
    border-radius: 2.1875rem;
    overflow: hidden;
    max-height: none;
    height: auto;
  }
  @include xs {
    max-width: 100%;
    overflow-x: auto;
    padding: 0;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  @include sm {
    flex-direction: row;
    gap: 0.625rem;
    justify-content: center;
  }
  @include xs {
    justify-content: start;
    padding: 0.625rem;
    width: fit-content;
  }
  .nav-item {
    position: relative;
    width: 100%;
    padding: 0 1.25rem;
    &:after {
      position: absolute;
      inset-inline: 0;
      height: 2.8125rem;
      width: 100%;
      background: $primaryGradient;
      border-radius: 0.5rem;
      top: 50%;
      transform: translateY(-50%);
    }
    &:has(.active) {
      &:after {
        content: "";
      }
      &:first-of-type {
        margin-top: 0.5rem;
      }
    }
    @include sm {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      &::after {
        display: none;
      }
      &:has(.active) {
        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }
  .nav-link {
    display: flex;
    align-items: center;
    justify-content: start;
    width: fit-content;
    gap: 0.625rem;
    font-size: 0.875rem;
    color: $secondaryNav;
    fill: $secondaryNav;
    stroke: $secondaryNav;
    position: relative;
    white-space: nowrap;
    z-index: 2;
    .icon {
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:focus {
      color: $secondaryNav;
    }
    &:hover {
      color: $primaryColor;
      fill: $primaryColor;
      stroke: $primaryColor;
    }
    &.active {
      color: #fff;
      fill: #fff;
      stroke: #fff;
    }
    &.logout {
      color: #ff3b30;
      fill: #ff3b30;
      stroke: #ff3b30;
    }
    @include sm {
      width: 2.8125rem;
      height: 2.8125rem;
      border-radius: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      &.active {
        width: auto;
        padding: 0 1.15rem;
        background: $primaryGradient;
        .text {
          display: block;
          // @include xxs {
          //   display: none;
          // }
        }
        // @include xxs {
        //   width: 2.8125rem;
        //   padding: 0;
        // }
      }
      .text {
        display: none;
      }
    }
  }
}
