.page-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-start: auto;
  gap: .9375rem;
  @include xs {
    margin: 0 auto;
    gap: .625rem;
  }
}

.page-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .625rem;
  height: 2.5rem;
  border-radius: .5rem;
  width: fit-content;
  min-width: 6.25rem;
  padding: 0 .9375rem;
  font-size: .875rem;
  font-weight: 400;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  &.send {
    background-color: #fff;
    color: $secondaryColor;
    &:focus {
      color: $secondaryColor;
    }
  }
  &.withdraw {
    background-color: $secondaryBg;
    color: #fff;
    fill: #fff;
    &:focus {
      color: #fff;
    }
    svg {
      transform: scale(-1);
    }
  }
  &:hover {
    color: #fff;
    background-color: $primaryColor;
  }
  &.deposite {
    @include mainBtn;
    &:after {
      background-color: $primaryColor;
    }
  }
}
