.page-btns {
  @media (max-width: 1920px) {
    font-size: 16px;
  }

  @media (max-width: 1440px) {
    font-size: 15px;
  }
  @media (max-width: 1200px) {
    font-size: 12px;
  }
  @media (max-width: 767px) {
    font-size: 16px;
  }
  @media (max-width: 576px) {
    font-size: 15px;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-start: auto;
  gap: 0.9375em;
  @include xs {
    margin: 0 auto;
    gap: 0.625em;
  }
}

.page-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625em;
  height: 2.5rem;
  border-radius: 0.5em;
  width: fit-content;
  min-width: 6.25em;
  padding: 0 0.9375rem;
  font-size: 0.875em;
  font-weight: 400;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  &.send {
    background-color: #fff;
    color: $secondaryColor;
    &:focus {
      color: $secondaryColor;
    }
  }
  &.withdraw {
    background-color: $secondaryBg;
    color: #fff;
    fill: #fff;
    &:focus {
      color: #fff;
    }
    svg {
      transform: scale(-1);
    }
  }
  &:hover {
    color: #fff;
    background-color: $primaryColor;
  }
  &.deposite {
    @include mainBtn;
    &:after {
      background-color: $primaryColor;
    }
  }
}
